@import './mixin';

.about{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  margin:0 10px;


  @include respond (mobile){
    margin:0 0px;
  }

  .Title{
    font-weight: 900;
    font-size: 50px;
    padding-top: 30px;

    @include respond (small-lap){
      font-size: 40px;
    }

  }

  .aboutWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:30px 0;

    .aboutMe{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 4rem;
      
      @include respond (mobile){
        grid-template-columns: 1fr ;
      }

      .aboutImage{
        Image{
          object-fit: contain;
          height: 100%;
          width: 100%;
        }
      }
  
      .aboutText{
        width: 600px;
        letter-spacing: 0.025em;
        line-height: 25px;
        font-size: 20px;

        p{
          padding-top: 20px;
        }
        
        @include respond (small-lap){
          width: 450px; 
        }
        @include respond (tab-port){
        line-height:30px;
        }
  
        @include respond (mobile){
        padding:0 40px;
        }
      }
    }
  }
  .mySkills{
    padding: 30px 0;
  }
}