@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  color: #0b0c0de1;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #f2f2f281;
  scroll-behavior: smooth !important;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }
}

@layer components {
  .center-item {
    @apply flex items-center justify-center;
  }
  .full {
    @apply h-full w-full;
  }
}
